.menuItemsList {
  padding: 17px 30px;
}

.menuItemsList div:last-child .divider{
  display: none;
}

.menuItem {
  padding: 6px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.menuItem svg {
  fill: #999999;
}

.menuItem span {
  margin-left: 7px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--greyEC);
}

.isHide {
  display: none;
}

.isHide + .divider {
  display: none;
}

@media all and (min-width: 1024px) {
  .isHide {
    display: flex;
  }

  .isHide + .divider {
    display: block;
  }

  .menuItem:hover span {
    color: var(--orange);
  }

  .menuItem:hover svg {
    fill: var(--orange);
  }
}
